apiVersion: apps/v1
kind: Deployment
metadata:
  name: h2e
  labels:
    app: h2e
spec:
  replicas: 1
  selector:
    matchLabels:
      app: h2e
  template:
    metadata:
      labels:
        app: h2e
    spec:
      containers:
      - name: h2e
        image: onceclick/h2e
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 3000
          name: http
        env:
        - name: PORT
          value: "3000"
        resources:
          requests:
            memory: "128Mi"
            cpu: "100m"
          limits:
            memory: "512Mi"
            cpu: "500m"

