apiVersion: v1
kind: Service
metadata:
  name: shared-text-editor-service
  labels:
    app: shared-text-editor
spec:
  type: ClusterIP
  ports:
  - port: 80
    targetPort: 3000
    protocol: TCP
    name: http
  selector:
    app: shared-text-editor

